html,body{
    padding: 0;
    margin: 0;
}

.section_center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота экрана */
    margin: 0;  
}

.Main_BTN {
    width: 100px;
    height: 100px;
    background-image: url(/cookie.png);
    background-size: cover;
    background-position: center; 
    border: none;
    background-color: white;
}


.Counter{
    margin: 0 auto;
    position: absolute;
}


.Main_BTN:hover {
    width: 150px;
    height: 150px;
    transition: 0.3 ease;
    background-image: url(/cookie.png);
    background-size: cover;
    background-position: center; 
    border: none;
    background-color: white;
}